.timer {
  display: flex;
  flex-direction: row;
  font-family:  "Arima Madurai", Roboto, "Helvetica Neue", sans-serif;

  &.large {
    .counter {
      font-size: 32px;
      line-height: 32px;
      padding-bottom: 12px;
    }

    .counter-box {
      width: 100px;
      padding: 15px 5px;
      margin: 10px;
      > span {
        font-size: 28px;
      }
    }

    .counter-seperator {
      font-size: 32px;
      line-height: 32px;
    }
  }

  &.small {
    .counter {
      font-size: 24px;
      line-height: 24px;
      padding-bottom: 4px;
    }

    .counter-box {
      width: 60px;
      padding: 10px 5px 5px;
      margin: 5px;

      > span {
        font-size: 16px;
      }
    }

    .counter-seperator {
      font-size: 24px;
      line-height: 24px;
    }
  }
}

.counter-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background: whitesmoke;
  border-radius: 10px;
}

.counter-seperator {
  display: flex;
  align-self: center;
}
