.timer {
  display: flex;
  flex-direction: row;
}

.counter-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:  "Arima Madurai", Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  width: 100px;
  padding: 15px 5px;
  margin: 10px;
  background: whitesmoke;
  border-radius: 10px;

  .counter {
    font-size: 32px;
    line-height: 32px;
    padding-bottom: 12px;
  }

  > span {
    font-size: 28px;
  }
}
