<div class="timer" *ngIf="(timeLeft$ | async) as t; else blankTimer">
  <div class="counter-box">
    <div class="counter"> {{t.daysToDday}} </div>
    <span>Days</span>
  </div>
  <div class="counter-box">
    <div class="counter"> {{t.hoursToDday}} </div>
    <span>Hours</span>
  </div>
  <div class="counter-box">
    <div class="counter"> {{t.minutesToDday}} </div>
    <span>Mins</span>
  </div>
  <div class="counter-box">
    <div class="counter"> {{t.secondsToDday}} </div>
    <span>Secs</span>
  </div>
</div>
<ng-template #blankTimer>
  <div class="timer">
    <div class="counter-box">
      <div class="days"> 0 </div>
      <span>Days</span>
    </div>
    <div class="counter-box">
      <div class="hours"> 0 </div>
      <span>Hours</span>
    </div>
    <div class="counter-box">
      <div class="minutes"> 0 </div>
      <span>Mins</span>
    </div>
    <div class="counter-box">
      <div class="seconds"> 0 </div>
      <span>Secs</span>
    </div>
  </div>
</ng-template>
