option_settings:
  aws:elbv2:listener:443:
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:ap-southeast-1:739973801493:certificate/19916c45-4e67-4228-8ad0-73e7bd4c4a89
Resources:
  AddingSSLCert2:
    Type: "AWS::ElasticLoadBalancingV2::ListenerCertificate"
    Properties:
      ListenerArn:
        Ref : "AWSEBV2LoadBalancerListener443"
      Certificates:
        - CertificateArn: "arn:aws:acm:ap-southeast-1:739973801493:certificate/237ff00d-8bb7-4984-a12f-d02ad721e7c2"
