.page-container {
  padding-top: 20px;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: transparent;
  align-items: center;

  .grid-gallery {
    max-width: 1200px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;

    .grid-item {
      height: 25vh;
      flex-grow: 1;
      transition: transform 0.1s ease-in-out;

      &:hover {
        transform: scale(1.03);
      }

      img {
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
        vertical-align: bottom;
        width: 100%;
        cursor: pointer;
      }
    }

    &.small-screen {
      flex-direction: row;

      .grid-item {
        max-height: 20vh;
        max-width: 50%;

        img {
          height: 100%
        }
      }
    }
    .grid-filler {
      flex-grow: 10;
    }
  }
}
