.page-container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: transparent;
  align-items: center;

  .grid-gallery {
    max-width: 1200px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;

    .grid-item {
      height: 200px; // to be changed
      flex-grow: 1;
      transition: transform 0.1s ease-in-out;

      img {
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
        vertical-align: bottom;
        width: 100%;
        cursor: pointer;
      }

      &:hover {
        transform: scale(1.03);
      }
    }
    .grid-filler {
      flex-grow: 10;
    }
  }
}
