<div class="page-container">
  <div class="hero-banner section">
    <div class="dark-overlay"></div>
    <div class="hero-banner-text-container"
         [ngClass.lt-md]="'position-center'"
         [ngClass.gt-sm]="'position-left'">
      <h3>January 23rd, 2022</h3>
      <h1>Ryane & Emelyne's</h1>
      <h1>Wedding Celebration</h1>
      <button mat-flat-button>RSVP NOW</button>
    </div>
  </div>
  <div class="save-the-date section">
    <date-time-countdown
      (countdownComplete)="handleComplete()"
      [targetDateTime]="weddingDateTime"></date-time-countdown>
    <h2>January 23rd, 2022</h2>
    <h3>Save The Date</h3>

  </div>
  <div class="wedding-info section">
  </div>
  <div class="ceremony-details section">
  </div>
</div>
