<div class="page-container">
  <div id="hero-banner" class="section">
    <div class="dark-overlay"></div>
    <div class="hero-banner-text-container"
         [ngClass.lt-md]="'position-center'"
         [ngClass.gt-sm]="'position-left'">
      <h3>Sunday, January 23<sup>rd</sup>, 2022</h3>
      <h1>Ryane & Emelyne's</h1>
      <h1>Wedding Celebration Lunch</h1>
      <button mat-raised-button color="primary" class="rsvp-btn" [routerLink]="'/rsvp'">RSVP NOW</button>
    </div>
  </div>
  <span class="section-seperator">~<mat-icon>favorite_border</mat-icon>~</span>
  <div id="save-the-date" class="section" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center center">
      <date-time-countdown
        (countdownComplete)="handleComplete()"
        [targetDateTime]="weddingDateTime"></date-time-countdown>
      <h2>Sunday, January 23<sup>rd</sup>, 2022</h2>
      <h3>Save The Date</h3>
      <h3>RSVP by Friday, 31<sup>st</sup> December 2021</h3>
    </div>
  </div>
  <span class="section-seperator">~<mat-icon>favorite_border</mat-icon>~</span>
  <div id="wedding-info" class="section" fxLayoutAlign="center center">
    <div [gdAreas.gt-sm]="'content image'"
         [gdColumn.gt-sm]="'auto'"
         [gdAreas.lt-md]="'content | image'"
         [gdColumn.lt-md]="'500px 500px'"
         [gdGap]="'20px'">
      <div class="text-content" fxLayout="column" fxLayoutAlign="center center" [gdArea]="'content'">
        <h2>Wedding Info</h2>
        <div class="infospace">
          <h3>Dress Code: Dress to Impress</h3>
          <p>We wish we could include everyone but unfortunately,
            due to the venue and the evolving COVID 19 restrictions,
            we are only able to invite individuals who are vaccinated.
            We hope you understand and use this opportunity to let your hair down and have a good time!</p>
        </div>
        <h2>Share Our Day</h2>
        <div class="infospace">
          <p>Share your pictures on the day with <button mat-stroked-button color="primary" (click)="viewHashtags()">#RYANEEME22M</button> on your socials</p>
        </div>
      </div>
      <div class="portrait-image-container"
           [gdArea]="'image'">
        <img src="assets/umbrella-m.jpg">
      </div>
    </div>
  </div>
  <span class="section-seperator">~<mat-icon>favorite_border</mat-icon>~</span>
  <div id="ceremony-details" class="section" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center center">
      <h2>Ceremony Details</h2>
      <div class="detail-list">
        <p>
          <mat-icon>event</mat-icon>
          <span>Sunday, January 23<sup>rd</sup>, 2022</span></p>
        <p>
          <mat-icon>schedule</mat-icon>
          <span>12:00 PM</span></p>
        <p>
          <mat-icon>location_on</mat-icon>
          <span>Royal Pavilion Ballroom, The Regent Hotel, Singapore</span></p>
        <p>
          <mat-icon>map</mat-icon>
          <span>1 Cuscaden Rd, Singapore 249715</span></p>
        <p><a
          href="https://www.google.com/maps/dir//regent+hotel/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x31da198bae1f9a05:0x4d99caf56b91c3d0?sa=X&ved=2ahUKEwj3z7KTq77zAhXBXSsKHdRLCVYQ9Rd6BAhqEAQ"
          target="_blank"
          class="navigate-link"
        >
          <mat-icon>assistant_direction</mat-icon>
          <span>Get Directions</span></a>
        </p>
        <button mat-raised-button color="primary" class="rsvp-btn" [routerLink]="'/rsvp'">RSVP NOW</button>
      </div>
      <google-map class="map" height="null" width="null" [options]="gmapOptions"
                  [ngClass.gt-sm]="'large'"
                  [ngClass.lt-md]="'small'"></google-map>
    </div>
  </div>
  <span class="section-seperator">~<mat-icon>favorite_border</mat-icon>~</span>
  <div id="our-story" class="section" fxLayout="column" fxLayoutAlign="center center">
    <div [gdAreas.gt-sm]="'image content'"
         [gdColumn.gt-sm]="'auto'"
         [gdAreas.lt-md]="'image | content'"
         [gdColumn.lt-md]="'500px 500px'"
         [gdGap]="'20px'">
      <div class="portrait-image-container"
           [gdArea]="'image'">
        <img src="assets/13-years-m.jpg">
      </div>
      <div class="text-content" fxLayout="column" fxLayoutAlign="center center" [gdArea]="'content'">
        <h2>Our Story</h2>
        <p>Ryane and Emelyne met in 2005 in the first year of secondary school. With piercing eyes, melancholic stature,
          a good sense of humour and a great face, Ryane was a fun person to be with. He found Emelyne to complement him
          with a bubbly yet carefree nature, punny with an even prettier face and just as loud.
          He eventually left for Australia in 2006 with his family and maintaining contact was only by the means of an
          MSN chat platform or costly IDD calling cards.
        </p>
        <p>However, it wasn’t until the Christmas of 2008 that locked in their persistence to maintain a long-distance
          relationship until Ryane decided to return home (to Emelyne) and serve the nation in 2010.
        </p>
        <p>
          As luck would have it, they both were able to further their university education in Australia and the rest, as
          they say, is history.
        </p>
        <p>
          They’re so excited to <em>finally</em> start the next phase of their lives together and can’t wait to
          celebrate with you to happen.
        </p>
      </div>
    </div>
  </div>
  <span class="section-seperator">~<mat-icon>favorite_border</mat-icon>~</span>
  <div id="album" class="section" fxLayout="column" fxLayoutAlign="center center">
    <h2>Wedding Album</h2>
    <app-flipbook [pages$]="flipbookPages"></app-flipbook>
  </div>
</div>
