.portrait-image-container {
  height: 400px;
  max-width: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 100%;
    width: auto;
  }
}

.page-container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: transparent;

  .section {
    flex: 1 0 auto;
    background: transparent;

    .text-content {
      max-width: 500px;
      padding: 0 10px;
      text-align: center;
    }
  }

  #hero-banner {
    height: 70vh;

    background-image: url("/assets/hero-banner-L.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: sepia(0.2);

    .hero-banner-text-container {
      position: absolute;
      width: 40%;
      height: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: whitesmoke;
      text-align: center;

      // responsive positions
      transition: left 0.5s, transform 0.5s, width 0.5s;

      &.position-left {
        top: 50%;
        left: 25%;
        transform: translate(-25%, -50%);
        width: 40%;
      }

      &.position-center {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 75%;
      }
    }
  }

  #save-the-date {
    height: 40vh;
  }

  #wedding-info {
    .infospace {
      max-width: 500px;
      height: 50%;
    }
  }

  #ceremony-details {
    .detail-list {
      margin: 20px;
      .mat-icon {
        margin-right: 0.5em;
      }
      a.navigate-link {
        color: black;
      }
    }

    .map {
      width: 100%;

      &.large {
        height: 450px;
        width: 650px;
      }

      &.small {
        height: 300px;
      }
    }
  }
}
