<div class="page-container">
  <div class="hero-banner section">
    <div class="dark-overlay"></div>
    <div class="hero-banner-text-container"
         [ngClass.lt-md]="'position-center'"
         [ngClass.gt-sm]="'position-left'">
      <h3>January 23<sup>rd</sup>, 2022</h3>
      <h1>Ryane & Emelyne's</h1>
      <h1>Wedding Celebration</h1>
      <button mat-flat-button>RSVP NOW</button>
    </div>
  </div>
  <div class="save-the-date section" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center center">
      <date-time-countdown
        (countdownComplete)="handleComplete()"
        [targetDateTime]="weddingDateTime"></date-time-countdown>
      <h2>January 23<sup>rd</sup>, 2022</h2>
      <h3>Save The Date</h3>
    </div>
  </div>
  <div class="wedding-info section" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center center">
      <h2>Wedding Info</h2>
    </div>
  </div>
  <div class="ceremony-details section" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center center">
      <h2>Ceremony Details</h2>
    </div>
  </div>
</div>
