<div class="popup-container">
  <div class="mat-h2">
    See how everyone has been sharing our day!
  </div>

  <div class="link-container">
  <div mat-ripple id="instagram" class="link">
    <a href="https://www.instagram.com/explore/tags/ryaneeme22/">
      <img class="icon" src="assets/instagram_icon.svg"><span>See on Instagram</span>
    </a>
  </div>
  <div mat-ripple id="facebook" class="link">
    <a href="https://www.facebook.com/hashtag/ryaneeme22">
      <img class="icon" src="assets/fb_icon.svg"><span>See on Facebook</span>
    </a>
  </div>
  <div mat-ripple id="tiktok" class="link">
    <a href="https://www.tiktok.com/tag/ryaneeme22?lang=en">
      <img class="icon" src="assets/tiktok_icon.svg"><span>See on TikTok</span>
    </a>
  </div>
  </div>
</div>
